.idea/
*.cbp

## CMake
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
CTestTestfile.cmake
Makefile
cmake_install.cmake

## Test related
Testing/

## Executables
unit_tests
prod
a.out

## Libraries
*.a

## Conan related
build-docker/
conan/

